Inicio Notebook

In [0]:
a = 35
a

35

In [0]:
b = [1, 2, 3 ]
b

[1, 2, 3]

In [0]:
b.append('Oi')
b

[1, 2, 3, 'Oi', 'Oi']

In [5]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/ECM514/datasets/iris.data')

     comprimento-sepala   largura-sepala   comprimento-petala  largura-petala
5.1                 3.5              1.4                  0.2     Iris-setosa
4.9                 3.0              1.4                  0.2     Iris-setosa
4.7                 3.2              1.3                  0.2     Iris-setosa
4.6                 3.1              1.5                  0.2     Iris-setosa
5.0                 3.6              1.4                  0.2     Iris-setosa
..                  ...              ...                  ...             ...
6.7                 3.0              5.2                  2.3  Iris-virginica
6.3                 2.5              5.0                  1.9  Iris-virginica
6.5                 3.0              5.2                  2.0  Iris-virginica
6.2                 3.4              5.4                  2.3  Iris-virginica
5.9                 3.0              5.1                  1.8  Iris-virginica

[150 rows x 4 columns]

In [6]:
df.tail()

NameError: ignored